.statusTogglerOn {
    color:green;
    cursor: pointer;
}
.statusTogglerOff {
    color:red;
    cursor: pointer;
}
.submitIcon {
    border: none!important;
    background: none;
    padding: 0px;
}

.courtImage {
    width: 500px!important;
    height: 500px!important;
    object-fit: cover;
}